<ng-template #divLoading>
    <div style="display: flex; justify-content: center;">
      <div class="col-3">
        <img src="../../../../assets/tube-spinner.svg" alt="">
      </div>
    </div>
  </ng-template>

  <ng-template #isLoading>
    <img mat-card-image  src="../../../../assets/tube-spinner.svg">
  </ng-template>

  <app-new-insured></app-new-insured>

      <div class="col-12">
        <app-search-box
        (onDebounce)="searchByCode($event)"
        [initialValue]="initialValue"
        placeholder="Buscar por cédula"></app-search-box>
      </div>

<div *ngIf="hasLoaded; else divLoading" class="grid">
    <div class="col-12 p-10">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Seguros</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content>
                <table mat-table [dataSource]="insuredDTO" class="mat-elevation-z8" style="margin-top: 20px;">
                    <form [formGroup]="insuredDTOEditForm">
                        <ng-container matColumnDef="Identificación">
                        <th mat-header-cell *matHeaderCellDef> Cédula </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-label *ngIf="selectedElement !== element">{{ element.identification }}</mat-label>
                            <mat-form-field *ngIf="selectedElement === element">
                                <input required formControlName="identification" matInput>
                            </mat-form-field>
                        </td>
                        </ng-container>
    
                        <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-label *ngIf="selectedElement !== element">{{ element.insuredName }}</mat-label>
                            <mat-form-field *ngIf="selectedElement === element">
                                <input required formControlName="insuredName" matInput>
                            </mat-form-field>
                        </td>
                        </ng-container>
    
                        <ng-container matColumnDef="N° de teléfono">
                        <th mat-header-cell *matHeaderCellDef> N° de teléfono </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-label *ngIf="selectedElement !== element">{{ element.phoneNumber }}</mat-label>
                            <mat-form-field *ngIf="selectedElement === element">
                                <input required formControlName="phoneNumber" matInput>
                            </mat-form-field>
                        </td>
                        </ng-container>
    
                        <ng-container matColumnDef="Edad">
                        <th mat-header-cell *matHeaderCellDef> Edad </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-label *ngIf="selectedElement !== element">{{ element.age }}</mat-label>
                            <mat-form-field *ngIf="selectedElement === element">
                                <input required formControlName="age" matInput>
                            </mat-form-field>
                        </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="Seguros">
                            <th mat-header-cell *matHeaderCellDef> Seguros </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-label *ngIf="selectedElement !== element">{{ element.insurances }}</mat-label>
                                <mat-form-field  *ngIf="selectedElement === element">
                                    <mat-select formControlName="insurances" multiple>
                                        <mat-option *ngFor="let insurance of insurances"> {{ insurance.insuranceCode }} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                    </form>

                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-mini-fab color="white" style="color: green; margin-right: 10px;" (click)="ChangeEditSave(element)"><mat-icon> {{ selectedElement === element ? 'save' : 'edit' }} </mat-icon></button>
                            <button mat-mini-fab color="white" style="color: red; margin-right: 10px;" (click)="deleteInsured(element)"><mat-icon>{{ selectedElement === element ? 'close' : 'delete' }}</mat-icon></button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>

</div>
